@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body
{
	padding-top: 36px;
	font-family: 'PT Sans', sans-serif;
}
.container-fluid {
	padding-left: 75px;
	padding-right: 75px;
}
@media (min-width: 980px)
{
	body
	{
		padding-top: 36px;
		font-family: 'PT Sans', sans-serif;
	}
}

.img1
{
	max-width:30%;
	height:auto;
	vertical-align:middle;
}

.img2
{
  max-width:100%;
	height: auto;
}
.row {
		float: none;
    margin: 0 auto;
    text-align: center;
}
.row.r1
{
	background-color: #CAEBF2;
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
}
.row.r2
{
	background-color: #7cdbd5;
	padding-top:5;
	padding-bottom:5;
	padding-left:5;
	padding-right:;
}
.row.r3
{
	background-image: url("Project_Logo_Draft_1_footer.jpeg");
	background-position: center bottom;
	padding-top: 25px;
	padding-bottom: 20px;
	background-size: cover;
}
