/* Body Elements */

body {
    font-family: arial, helvetica;
    color: #fff;
}

.section {
    text-align: center;
}

.intro h1 {
    font-size: 5em;
    margin: 0 auto;
    padding: 0;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

/* Navigation Bar */

#header {
    position: fixed;
    height: 60px;
    display: block;
    width: 100%;
    z-index: 9;
    /* Padding for iGEM bar at top of page */
    padding: 0 0 0 0;
}

#header {
    top: 0px;
}

/* Scroll Animation */

#fp-nav ul li,
.fp-slidesNav ul li {
    height: 14px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 14px;
    width: 14px;
    margin: -7px 0 0 -7px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0);
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

/* Social Media Animation */

@media screen and (min-width: 1024px) {

    #social-media-list {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 0;
        padding: 0;
    }

    #social-media-list li {
        position: relative;
        list-style: none;
        float: left;
    }

    #social-media-list li a {
        width: 60px;
        height: 60px;
        line-height: 30px;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        transition: width 0.5s;
        box-sizing: border-box;
    }

    #social-media-list li:hover a {
        width: 240px;
    }

    #social-media-list li a .fa {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
    }

    #social-media-list li a span {
        color: #fff;
        font-size: 2em;
    }

}

@media screen and (max-width: 1024px) {


    #social-media-list {
        /*        position: absolute;*/
        /*        left: 50%;*/
        /*        transform: translate(-50%);*/
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    #social-media-list li {
        /*        position: relative;*/
        list-style: none;
        text-align: left;
    }

    #social-media-list li a {
        /*        width: 240px;*/
        /*        height: 60px;*/
        /*        line-height: 30px;*/
        /*        overflow: hidden;*/
        /*        display: block;*/
        /*        white-space: nowrap;*/
        text-decoration: none;
        /*        transition: width 0.5s;*/
        /*        box-sizing: border-box;*/
    }

    #social-media-list li a .fa {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
    }

    #social-media-list li a span {
        color: #fff;
        font-size: 1.5em;
        padding-left: 20px;
    }


}